# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\10. my-job\gourmet\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
